h1 Profilo
h2 I tuoi post:
each post in posts
    tr
        td(style="border: 1px solid green")
            | Tipo di post: #{post.tipoPost}
            br
            | Categoria: #{post.categoria}
            br
            if (post.sottoCategoria)
                tr
                    td(style="border: 1px solid green")
                        | Sottocategoria: #{post.sottoCategoria}
                        br
                    td(style="border: 1px solid green")
            | Data: #{post.data.getDate()}/#{post.data.getMonth()+1}/#{post.data.getFullYear()}
            br
            | Città: #{post.città}
            br
            if (post.luogo)
                tr
                    td(style="border: 1px solid green")
                        | Luogo: #{post.luogo}
                        br
                    td(style="border: 1px solid green")
            if (post.descrizione)
                tr
                    td(style="border: 1px solid green")
                        | Descrizione: #{post.descrizione}
                        br
                    td(style="border: 1px solid green")
            if (post.ricompensa)
                tr
                    td(style="border: 1px solid green")
                        | Ricompensa: #{post.ricompensa}
                        br
                    td(style="border: 1px solid green")
            a(href='/delete_post/' + post._id )
                button(type="button") Delete 
            br
            br
        td(style="border: 1px solid green")
                            
else
    tr  
        td Ancora nessun post...
        br
br
form(action='/nuovo_post/'+ id, method='GET')
            input(type='submit', value='Nuovo Post')
h2 Post correlati:
each conn in conn_p
    tr
        td(style="border: 1px solid green")
            | Tipo di post: #{conn.tipoPost}
            br
            | Categoria: #{conn.categoria}
            br
            if (conn.sottoCategoria)
                tr
                    td(style="border: 1px solid green")
                        | Sottocategoria: #{conn.sottoCategoria}
                        br
                    td(style="border: 1px solid green")
            | Data: #{conn.data.getDate()}/#{conn.data.getMonth()+1}/#{conn.data.getFullYear()}
            br
            | Città: #{conn.città}
            br
            if (conn.luogo)
                tr
                    td(style="border: 1px solid green")
                        | Luogo: #{conn.luogo}
                        br
                    td(style="border: 1px solid green")
            if (conn.descrizione)
                tr
                    td(style="border: 1px solid green")
                        | Descrizione: #{conn.descrizione}
                        br
                    td(style="border: 1px solid green")
            if (conn.ricompensa)
                tr
                    td(style="border: 1px solid green")
                        | Ricompensa: #{conn.ricompensa}
                        br
                    td(style="border: 1px solid green")
            | Email utente: #{conn.user_em}
            br
            br
        td(style="border: 1px solid green")
     
else
    tr  
        td Ancora nessun post...
        br
br
form(action='/logout', method='GET')
            input(type='submit', value='Disconettiti')
