h1 Profilo
h2 I tuoi post:
each post in posts
    tr
        td(style="border: 1px solid green")
            | Tipo di post: #{post.tipoPost}
            br
            | Categoria: #{post.categoria}
            br
            if (post.sottoCategoria)
                tr
                    td(style="border: 1px solid green")
                        | Sottocategoria: #{post.sottoCategoria}
                        br
                    td(style="border: 1px solid green")
            | Data: #{post.data.getDate()}/#{post.data.getMonth()+1}/#{post.data.getFullYear()}
            br
            | Città: #{post.città}
            br
            if (post.luogo)
                tr
                    td(style="border: 1px solid green")
                        | Luogo: #{post.luogo}
                        br
                    td(style="border: 1px solid green")
            if (post.descrizione)
                tr
                    td(style="border: 1px solid green")
                        | Descrizione: #{post.descrizione}
                        br
                    td(style="border: 1px solid green")
            if (post.ricompensa)
                tr
                    td(style="border: 1px solid green")
                        | Ricompensa: #{post.ricompensa}
                        br
                    td(style="border: 1px solid green")
            a(href='/delete_post/' + post._id )
                button(type="button") Delete 
            br
            br
        td(style="border: 1px solid green")
                            
else
    tr  
        td Ancora nessun post...
        br
br
form(action='/nuovo_post/'+ id, method='GET')
            input(type='submit', value='Nuovo Post')
h2 Post correlati:
#postCorrelati

script(src="/socket.io/socket.io.js")
script(src="https://code.jquery.com/jquery-1.11.1.js")
script.
    var permission = 'denied';
    try {
    Notification.requestPermission().then(function(status) {
        permission = status;
        console.log('Web notification status: '+ permission);
    });
    } catch (error) { // Safari 9 doesn't return a promise for requestPermissions
        Notification.requestPermission(function(status) {
            permission = status;
            console.log('Web notification status: '+ permission);
        });
    }

    var socket = io();
    console.log(#{id})
    socket.emit("render",#{id})
    socket.on(#{id},function(data){
        console.log(data);
        if(data == 'reload'){
            socket.emit("reload",#{id})
        }else{
            if(permission === 'granted' && data.length != 0){
                var notification = new Notification("ChiLhaVisto",{body:"hai nuovi correlati"});
            }
            if(data.length == 0)
                 $('#postCorrelati').html('Ancora nessun post ...');
            else{
                $('#postCorrelati').html('');
                $('#postCorrelati').append('<br>');
                for(var i = 0; i < data.length;i++){
                    $('#postCorrelati').append('<p>'+"Tipo di post: "+data[i].tipoPost+"\n</p>")
                    $('#postCorrelati').append('<p>'+"Categoria: "+data[i].categoria+"\n</p>")
                    $('#postCorrelati').append('<p>'+"Sottocategoria: "+data[i].sottoCategoria+"\n</p>")
                    $('#postCorrelati').append('<p>'+"Data: "+data[i].data+"\n</p>")
                    $('#postCorrelati').append('<p>'+"Città: "+data[i].città+"\n</p>")
                    $('#postCorrelati').append('<p>'+"Email utente: "+data[i].user_em+"\n</p>")
                    if(data[i].luogo.length != 0){
                        $('#postCorrelati').append('<p>'+"Luogo: "+data[i].luogo+"\n</p>")
                    }
                    if(data[i].descrizione.length != 0){
                        $('#postCorrelati').append('<p>'+"Descrizione: "+data[i].descrizione+"\n</p>")
                    }
                    $('#postCorrelati').append('<br>');
                }
            }
        }
    })

form(action='/profilo/'+id, method='POST')
            input(type='submit', value='Disconettiti')
